/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
   
}

/* Header styles */
header {
    background-color: black;
    color: #fff;
    padding: 20px;
    height: 80px; /* Reduced height for a sleeker header */
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Align items at opposite ends */
    align-items: center; /* Center items vertically */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ccc;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Purchase section styles */
.purchase-section {
    width: 70%; /* Increased width for better form visibility */
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchase-section h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="number"],
textarea {
    width: calc(100% - 20px); /* Adjusted width for better alignment */
    padding: 10px;
    margin-bottom: 20px; /* Increased margin for better spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: inline-block;
    padding: 12px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color:  black;
    color: #fff;
    padding: 10px 20px;
    justify-content: end;
    position:fixed; 
    bottom: 0; 
    width: 100%;
    
}
